@media (min-width: 800px) {
  .intro-page {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  
  .intro-page > * {
    scroll-snap-align: start;
  }
}

.intro-page > * > * {
  max-width: 1280px;
  margin: 0 auto;
}